.about-container {
    background-color: #595d60;
    color: white;
}

.about-text {
    width: 75%
}

.about-title {
    font-size: 2.3rem;
}

.about-title-border {
    border: 1px solid white;
    opacity: 50%;
    margin-bottom: 20px;
}
