<div class="notification-container d-flex justify-content-center">
    <div id="notification-success" class="alert alert-primary" role="alert" style="display: none;">
        <strong id="text-to-replace"></strong> a bien été ajouté au <a href="{% url 'cart' %}">panier</a>
    </div>
</div>

<div class="notification-container d-flex justify-content-center">
    <div id="notification-error" class="alert alert-danger" role="alert" style="display: none;">
        <strong id="text-to-replace"></strong>
    </div>
</div>
