<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog' %}">Présentation<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'shop' %}">Boutique</a>
        </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
        <form id="form_search" class="input-group input-group-sm" method="POST" action="">
            <input type="text" class="form-control" aria-label="small" aria-describedby="inputGroup-sizing-sm" placeholder="rechercher un ingredient..."
            name="canned_search" aria-label="search">
            <div class="input-group-append">
                <button type="button" class="btn btn-secondary btn-number">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            {% csrf_token %}
        </form>
        <a class="btn btn-success btn-sm ml-3" href="{% url 'cart' %}">
            <i class="fa fa-shopping-cart"></i> Panier
            <span id="badge-cart" class="badge badge-light"></span>
        </a>
    </div>
  </div>
</nav>
